:root {
  --font-style: 'Satoshi', sans-serif;;
  --p-icon-size: 1.5em;
}

html {
  font-size: 14px;
  font-family: var(--font-style);
  @apply antialiased font-medium;
  scroll-behavior: smooth;
  color: var(--p-surface-700);
  background-color: var(--p-surface-50);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.dark-mode {
  background-color: var(--p-surface-950);
  color: var(--p-surface-200);
}
