:root {
  --font-style: "Satoshi", sans-serif;
  --p-icon-size: 1.5em;
  --gradient-animation-speed: 10s;
}

html {
  font-size: 14px;
  font-family: var(--font-style);
  @apply antialiased font-medium;
  scroll-behavior: smooth;
  min-height: 100%;
}

.light-mode {
  color: var(--p-surface-700);
  // background-color: var(--p-surface-50);
  background: radial-gradient(
    var(--p-surface-100),
    var(--p-surface-50),
    var(--p-primary-200),
  );
  background-size: 150% 150%;
  background-position: 70% 70%;
  background-repeat: no-repeat;
  animation: gradient var(--gradient-animation-speed) ease infinite;
}

.dark-mode {
  // background-color: var(--p-surface-950);
  background: radial-gradient(
    var(--p-surface-900),
    var(--p-surface-950),
    var(--p-primary-950)
  );
  color: var(--p-surface-200);
  background-size: 150% 150%;
  background-position: 80% 80%;
  background-repeat: no-repeat;
  animation: gradient var(--gradient-animation-speed) ease infinite;
}

@keyframes gradient {
  25% {
    background-position: 30% 70%;
  }
  50% {
    background-position: 30% 30%;
  }
  75% {
    background-position: 70% 30%;
  }
  100% {
    background-position: 70% 70%;
  }
}

