@import url('https://fonts.googleapis.com/css?family=Raleway');
$body-font-color: rgba(0,
0,
0,
0.87);
$mini-screen: 500px;
$small-screen: 600px;
$medium-screen: 992px;
$white: white;
$primary-blue: #2F80ED;
$primary-blue-opaque: rgba(47,
129,
237,
0.664);
$secondary-blue: #2566BD;
body {
    color: $body-font-color;
    -webkit-font-smoothing: antialiased;
    font-family: 'Raleway', sans-serif;
}

#hero {
    height: 100vh;
    width: 100%;
    min-height: 500px;
    #hero-content {
        top: 0px;
        position: absolute;
        width: 100%;
        height: 100%;
        min-height: inherit; // background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; // position: absolute;
        height: 100%;
        width: 100%;
        color: white;
        background-color: $primary-blue;
        background-image: url("../images/cover-optimized.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        img {
            margin-top: 50px;
            width: 200px;
            height: 200px;
        }
        canvas {
            position: absolute;
        }
        h2 {
            padding-left: 10px;
            padding-right: 10px;
        }
        @media screen and (max-width: $small-screen) {
            img {
                width: 150px;
                height: 150px;
            }
            h4 {
                font-size: 25px;
            }
            h2 {
                font-size: 35px;
            }
        }
    }
}

.index-1 {
    z-index: 1;
}

.nav-button {
    position: fixed;
    right: 20px;
    top: 20px;
    text-decoration: none;
    color: white;
    z-index: 5;
}

.nav-button.btn-floating {
    background-color: $primary-blue;
}

.side-nav .background {
    background-color: $primary-blue;
}

.section-with-padding {
    padding: 30px;
}

.bg-blue {
    background-color: $primary-blue;
    color: $white;
}

#about-me {
    width: 100%;
    img {
        width: 350px;
        border-radius: 50%;
        @media screen and (max-width: $small-screen) {
            width: 90%;
        }
    }
    p {
        font-size: 15px;
    }
}

#skills {
    width: 100%;
    min-height: 100%;
    i {
        font-size: 70px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

#projects {
    .container {
        width: 93%;
    }
    @media screen and (max-width: $medium-screen) {
        .container {
            width: 90%;
        }
    }
    @media screen and (max-width: $small-screen) {
        .container {
            width: 85%;
        }
    }
}

#contact {
    form {
        width: 80%;
        margin: 0 auto;
        @media screen and (max-width: $small-screen) {
            width: 100%;
        }
        .input-field input[type=text],
        input[type=email],
        textarea {
            border-bottom: 1px solid $white;
        }
        /* label color */
        .input-field label {
            color: $white;
        }
        /* label focus color */
        .input-field label {
            color: $white;
        }
        /* label underline focus color */
        .input-field input[type=text]:focus,
        input[type=email]:focus,
        textarea:focus {
            border-bottom: 1px solid $white;
            box-shadow: 0 2px 0 0 $white;
        }
        /* icon prefix focus color */
        .input-field .prefix.active {
            color: $white;
        }
    }
    .social-links {
        margin-top: 40px;
        margin-bottom: 40px;
        a {
            display: inline-flex;
            width: 65px;
            height: 65px;
            color: $white;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            -webkit-transition: background-color 0.5s;
            -webkit-transition: color 0.5s;
            transition: background-color 0.5s;
            transition: color 0.5s;
            &:hover {
                background-color: $white;
                color: $primary-blue;
            }
        }
    }
}

.row {
    margin: 30px auto;
}

.side-menu-social-links {
    a {
        margin-top: 10px;
        display: inline-flex;
        width: 60px;
        height: 60px;
        color: $primary-blue;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        -webkit-transition: background-color 0.5s;
        -webkit-transition: color 0.5s;
        transition: background-color 0.5s;
        transition: color 0.5s;
        &:hover {
            background-color: $primary-blue;
            color: $white;
        }
    }
}

.quotation-mark {
    margin: 0;
    font-weight: bold;
    font-size: 100px;
    font-family: "Times New Roman", Georgia, Serif;
    @media screen and (max-width: $small-screen) {
        font-size: 60px;
    }
}

.quote {
    color: $primary-blue-opaque;
    @media screen and (max-width: $small-screen) {
        font-size: 35px;
    }
}

.carousel .indicators .indicator-item {
    background-color: $primary-blue-opaque;
}

.carousel .indicators .indicator-item.active {
    background-color: $primary-blue;
}

.carousel.carousel-slider {
    height: 480px !important;
    .card {
        background-color: $primary-blue;
        color: $white;
        padding: 20px;
        .btn {
            margin: 10px;
            font-size: 14px;
        }
    }
    .chip {
        background-color: $secondary-blue;
        color: $white;
        font-weight: 900;
    }
    h2,
    p {
        margin: 10px auto;
    }
    @media screen and (max-width: $medium-screen) {
        img {
            margin-top: 10px;
        }
        height: 650px !important;
    }
    @media screen and (max-width: $mini-screen) {
        height: 600px !important;
        .card {
            padding: 5px;
        }
        h2 {
            font-size: 20px !important;
        }
        p {
            font-size: 12px !important;
        }
        .chip {
            font-size: 10px;
        }
        .btn {
            padding: 0 10px;
        }
    }
}

.carousel.thumbnails {
    height: 220px !important;
    @media screen and (max-width: $mini-screen) {
        display: none;
    }
}

.btn-white {
    background-color: $white;
    color: $primary-blue;
    i {
        font-size: inherit;
    }
}

#prev-button {
    position: absolute;
    text-align: center;
    width: 40px;
    left: -8px;
    top: 40%;
    color: $primary-blue;
    z-index: 1;
    @media screen and (max-width: $small-screen) {
        font-size: 10px;
    }
}

#next-button {
    position: absolute;
    text-align: center;
    width: 40px;
    right: -8px;
    top: 40%;
    color: $primary-blue;
    z-index: 1;
    @media screen and (max-width: $small-screen) {
        font-size: 10px;
    }
}

hr {
    border: 0;
    margin: 20px auto;
    height: 1px;
    background-image: -webkit-linear-gradient(left, $white, $primary-blue, $white);
    background-image: -moz-linear-gradient(left, $white, $primary-blue, $white);
    background-image: -ms-linear-gradient(left, $white, $primary-blue, $white);
    background-image: -o-linear-gradient(left, $white, $primary-blue, $white);
}

.underline-hr {
    width: 450px;
    @media screen and (max-width: $small-screen) {
        width: 100%;
    }
}

.hr-white {
    background-image: -webkit-linear-gradient(left, $primary-blue, $white, $primary-blue);
    background-image: -moz-linear-gradient(left, $primary-blue, $white, $primary-blue);
    background-image: -ms-linear-gradient(left, $primary-blue, $white, $primary-blue);
    background-image: -o-linear-gradient(left, $primary-blue, $white, $primary-blue);
}