@import url('https://fonts.googleapis.com/css?family=Raleway');
$body-font-color: rgba(0, 0, 0, 0.87);
$mini-screen: 500px;
$small-screen: 600px;
$medium-screen: 992px;
$white: white;
$primary-blue: #2F80ED;
$secondary-blue:  rgba(47, 129, 237, 0.664);

body {
    color: $body-font-color;
    -webkit-font-smoothing: antialiased;
    font-family: 'Raleway', sans-serif;
}

#hero {
    height: 100vh;
    width: 100%;
    min-height: 500px;
    #hero-content {
        top: 0px;
        position: absolute;
        width: 100%;
        height: 100%;
        min-height: inherit; // background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; // position: absolute;
        height: 100%;
        width: 100%;
        color: white;
        background-color: $primary-blue;
        background-image: url("../images/cover-optimized.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        img {
            margin-top: 50px;
            width: 200px;
            height: 200px;
        }
        canvas {
            position: absolute;
        }
        h2 {
            padding-left: 10px;
            padding-right: 10px;
        }
        @media screen and (max-width: $small-screen) {
            img {
                width: 150px;
                height: 150px;
            }
            h4 {
                font-size: 25px;
            }
            h2 {
                font-size: 35px;
            }
        }
    }
}

.index-1 {
    z-index: 1;
}

.nav-button {
    position: fixed;
    right: 20px;
    top: 20px;
    text-decoration: none;
    color: white;
    z-index: 5;
}

.nav-button.btn-floating {
    background-color: $primary-blue;
}

.side-nav .background {
    background-color: $primary-blue;
}

.section-with-padding {
    padding: 30px;
}

.bg-blue {
    background-color: $primary-blue;
    color: $white;
}

#about-me {
    width: 100%;
    img {
        width: 350px;
        border-radius: 50%;
        @media screen and (max-width: $small-screen) {
            width: 90%;
        }
    }
    p {
        font-size: 15px;
    }
}

#skills {
    width: 100%;
    min-height: 100%;
    i {
        font-size: 70px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

#projects {
    .container{
        width: 93%;
    }
    @media screen and (max-width: $medium-screen) {
        .container{
            width: 90%;
        }
    }
    @media screen and (max-width: $small-screen) {
        .container{
            width: 85%;
        }
    }
}

.row {
    margin: 30px auto;
}

.quotation-mark {
    margin: 0;
    font-weight: bold;
    font-size: 100px;
    font-family: "Times New Roman", Georgia, Serif;
    @media screen and (max-width: $small-screen) {
        font-size: 60px;
    }
}

.quote {
    color: $secondary-blue;
    @media screen and (max-width: $small-screen) {
        font-size: 35px;
    }
}

.carousel .indicators .indicator-item {
    background-color: $secondary-blue;
}

.carousel .indicators .indicator-item.active {
    background-color: $primary-blue;
}
.carousel.carousel-slider {
    height: 450px !important;
    .card {
        padding: 20px;
        .btn {
            margin-top: 10px;
            background-color: $white;
            color: $primary-blue;
        }
    }
    .chip {
        background-color: $primary-blue;
        color: $white;
        font-weight: 900;
    }
    h2, p {
        margin: 10px auto;
    }
    @media screen and (max-width: $medium-screen) {
        img{
            margin-top: 10px;
        }
        height: 610px !important;
    }
    @media screen and (max-width: $mini-screen) {
        height: 550px !important;
        .card {
            padding: 5px;
        }
        h2 {
            font-size: 20px !important;
        }
        p{
            font-size: 12px !important;
        }
        .chip {
            font-size: 10px;
        }
        .btn {
            padding: 0 10px;
        }
    }
}

.carousel.thumbnails {
    height: 220px !important;
}

.prev-button {
    position: absolute;
    text-align: center;
    width: 40px;
    left: -8px;
    top: 40%;
    color: $primary-blue;
    z-index: 1;
    @media screen and (max-width: $small-screen) {
        font-size: 10px;
    }
}

.next-button {
    position: absolute;
    text-align: center;
    width: 40px;
    right: -8px;
    top: 40%;
    color: $primary-blue;
    z-index: 1;
    @media screen and (max-width: $small-screen) {
        font-size: 10px;
    }
}

hr {
    border: 0;
    margin: 20px auto;
    height: 1px;
    background-image: -webkit-linear-gradient(left, $white, $primary-blue, $white);
    background-image: -moz-linear-gradient(left, $white, $primary-blue, $white);
    background-image: -ms-linear-gradient(left, $white, $primary-blue, $white);
    background-image: -o-linear-gradient(left, $white, $primary-blue, $white);
}

.underline-hr {
    width: 450px;
    @media screen and (max-width: $small-screen) {
        width: 100%;
    }
}

.hr-white {
    background-image: -webkit-linear-gradient(left, $primary-blue, $white, $primary-blue);
    background-image: -moz-linear-gradient(left, $primary-blue, $white, $primary-blue);
    background-image: -ms-linear-gradient(left, $primary-blue, $white, $primary-blue);
    background-image: -o-linear-gradient(left, $primary-blue, $white, $primary-blue);
}